rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /applications/{applicationId} {
      allow read, write: if request.auth != null && (request.resource.data.userId == request.auth.uid || (resource != null && resource.data.userId == request.auth.uid));
    }
    match /saved_jobs/{savedId} {
      allow read, write: if request.auth != null && (request.resource.data.userId == request.auth.uid || (resource != null && resource.data.userId == request.auth.uid));
    }
    match /user_profiles/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /chats/{chatId} {
      allow read, write: if request.auth != null && (request.resource.data.userId == request.auth.uid || (resource != null && resource.data.userId == request.auth.uid));
    }
  }
}
